<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="warning"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title>Te llevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Te llevo</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <img src="" alt="">
    <img alt="Silhouette of mountains" src="" />
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Los viajes mas seguros de los alumnos del duoc para los alumnos del duoc.
    </ion-card-content>
  </ion-card>



</ion-content>
